<a href="https://colab.research.google.com/github/sanhiitaa/100-days-of-deep-learning/blob/main/tokenization_and_simpleRNN_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

In [2]:
docs=['hello world',
      'deep learning is fun',
      'google colab is convinient',
      'life is beautiful',
      'life is a struggle',
      '101 essays that will change the way you think',
      'simple RNN integer encoding',
      'i cant think of any more sentences',
      'why is this air conditioner making noise',
      'ludo is the worst game ever']

In [3]:
# creating an instance of the tokenizer class
token= Tokenizer(oov_token='heh nothing here')

In [4]:
# tokenizing the words
token.fit_on_texts(docs)

In [5]:
# word to integer mapping
token.word_index

{'heh nothing here': 1,
 'is': 2,
 'life': 3,
 'the': 4,
 'think': 5,
 'hello': 6,
 'world': 7,
 'deep': 8,
 'learning': 9,
 'fun': 10,
 'google': 11,
 'colab': 12,
 'convinient': 13,
 'beautiful': 14,
 'a': 15,
 'struggle': 16,
 '101': 17,
 'essays': 18,
 'that': 19,
 'will': 20,
 'change': 21,
 'way': 22,
 'you': 23,
 'simple': 24,
 'rnn': 25,
 'integer': 26,
 'encoding': 27,
 'i': 28,
 'cant': 29,
 'of': 30,
 'any': 31,
 'more': 32,
 'sentences': 33,
 'why': 34,
 'this': 35,
 'air': 36,
 'conditioner': 37,
 'making': 38,
 'noise': 39,
 'ludo': 40,
 'worst': 41,
 'game': 42,
 'ever': 43}

In [6]:
# number of times each word appears
token.word_counts

OrderedDict([('hello', 1),
             ('world', 1),
             ('deep', 1),
             ('learning', 1),
             ('is', 6),
             ('fun', 1),
             ('google', 1),
             ('colab', 1),
             ('convinient', 1),
             ('life', 2),
             ('beautiful', 1),
             ('a', 1),
             ('struggle', 1),
             ('101', 1),
             ('essays', 1),
             ('that', 1),
             ('will', 1),
             ('change', 1),
             ('the', 2),
             ('way', 1),
             ('you', 1),
             ('think', 2),
             ('simple', 1),
             ('rnn', 1),
             ('integer', 1),
             ('encoding', 1),
             ('i', 1),
             ('cant', 1),
             ('of', 1),
             ('any', 1),
             ('more', 1),
             ('sentences', 1),
             ('why', 1),
             ('this', 1),
             ('air', 1),
             ('conditioner', 1),
             ('making', 1),
             ('noise', 1),
             ('ludo', 1),
             ('worst', 1),
             ('game', 1),
             ('ever', 1)])

In [7]:
# number of sentences
token.document_count

10

In [8]:
# coverting all the text into integer sequences
sequences= token.texts_to_sequences(docs)
sequences

[[6, 7],
 [8, 9, 2, 10],
 [11, 12, 2, 13],
 [3, 2, 14],
 [3, 2, 15, 16],
 [17, 18, 19, 20, 21, 4, 22, 23, 5],
 [24, 25, 26, 27],
 [28, 29, 5, 30, 31, 32, 33],
 [34, 2, 35, 36, 37, 38, 39],
 [40, 2, 4, 41, 42, 43]]

In [9]:
sequences = pad_sequences(sequences, padding='post')
sequences

array([[ 6,  7,  0,  0,  0,  0,  0,  0,  0],
       [ 8,  9,  2, 10,  0,  0,  0,  0,  0],
       [11, 12,  2, 13,  0,  0,  0,  0,  0],
       [ 3,  2, 14,  0,  0,  0,  0,  0,  0],
       [ 3,  2, 15, 16,  0,  0,  0,  0,  0],
       [17, 18, 19, 20, 21,  4, 22, 23,  5],
       [24, 25, 26, 27,  0,  0,  0,  0,  0],
       [28, 29,  5, 30, 31, 32, 33,  0,  0],
       [34,  2, 35, 36, 37, 38, 39,  0,  0],
       [40,  2,  4, 41, 42, 43,  0,  0,  0]], dtype=int32)

Keras Embedding Layer

In [22]:
from keras.datasets import imdb
from keras import Sequential
from keras.layers import Dense, SimpleRNN, Embedding, Flatten

In [23]:
(x_train, y_train), (x_test, y_test) = imdb.load_data()

In [12]:
# first review from the imdb dataset - already tokenized
print('total number of words in the first review: ', len(x_train[0]), '\n\n***************************** \n')
x_train[0]

total number of words in the first review:  218

*****************************

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 22665,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 21631,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 19193,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 10311,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 31050,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 12118,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [24]:
x_train= pad_sequences(x_train, padding='post', maxlen=70)
x_test=pad_sequences(x_test, padding='post', maxlen=70)

In [25]:
x_train[0]

array([   43,   530,   476,    26,   400,   317,    46,     7,     4,
       12118,  1029,    13,   104,    88,     4,   381,    15,   297,
          98,    32,  2071,    56,    26,   141,     6,   194,  7486,
          18,     4,   226,    22,    21,   134,   476,    26,   480,
           5,   144,    30,  5535,    18,    51,    36,    28,   224,
          92,    25,   104,     4,   226,    65,    16,    38,  1334,
          88,    12,    16,   283,     5,    16,  4472,   113,   103,
          32,    15,    16,  5345,    19,   178,    32], dtype=int32)

In [26]:
model= Sequential()

model.add(SimpleRNN(32, input_shape=(70,1), return_sequences=False))
model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_1 (SimpleRNN)    (None, 32)                1088

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 1121 (4.38 KB)
Trainable params: 1121 (4.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=5, validation_data=(x_test, y_test))

Epoch 1/5
782/782 [==============================] - 21s 25ms/step - loss: 0.6940 - accuracy: 0.5034 - val_loss: 0.6942 - val_accuracy: 0.4998
Epoch 2/5
782/782 [==============================] - 14s 18ms/step - loss: 0.6928 - accuracy: 0.5123 - val_loss: 0.6932 - val_accuracy: 0.5058
Epoch 3/5
782/782 [==============================] - 14s 18ms/step - loss: 0.6925 - accuracy: 0.5126 - val_loss: 0.6942 - val_accuracy: 0.5078
Epoch 4/5
782/782 [==============================] - 14s 18ms/step - loss: 0.6925 - accuracy: 0.5086 - val_loss: 0.6940 - val_accuracy: 0.5060
Epoch 5/5
782/782 [==============================] - 12s 16ms/step - loss: 0.6923 - accuracy: 0.5099 - val_loss: 0.6933 - val_accuracy: 0.5073